

@using CustomerUI.Data
@using CustomerUI.Services
@using Microsoft.JSInterop

@inject ICategoryService CategoryService
@inject IJSRuntime js

<PageTitle>Category Report</PageTitle>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <div class="container-fluid">


        <div class="row">

            <div id="printableTable">



                <div class="page-header">
                    <div class="col-12">
                        <div class="row">
                            <!-- Image Div on the Left -->
                            <div class="col-md-2">
                                <img src="/gadgetpoint.png" />
                            </div>
                            <!-- Content Div on the Right -->
                            <div class="col-md-10">
                                <h2 class="text-center">Gadget Point</h2>
                                <h3 class="text-center">IsdB BISEW IT Scholarship Program</h3>
                                <h3 class="text-center">Batch-CS/NVIT-M/53/01</h3>
                                <h4 class="text-center">Round-53</h4>
                                <h4 class="text-center">Group: B</h4>
                            </div>
                        </div>
                    </div>
                </div>







                @*============================*@

                <div class="full-page">
                    <div class="table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Serial No.</th>
                                    <th>Category Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in categories)
                                {
                                    <tr>
                                        <td>@category.CategoryId</td>
                                        <td>@category.CategoryName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>

        </div>

        <div id="printButton">
            <button class="btn btn-primary " @onclick="PrintTable">Print Report</button>
        </div>


        <div class="page-footer">
            <div class="col-12 bg-light py-3">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-left">Print Date/Time: @DateTime.Now</p>
                    </div>
                    <div class="col-12">
                        <p class="text-center">Powered by IsdB BISEW IT Scholarship Program</p>
                    </div>
                </div>
            </div>
        </div>



    </div>




}

@code {
    private IEnumerable<Category> categories = new List<Category>();

    [Parameter]
    public string Param { get; set; }

    private async Task PrintTable()
    {
        // Use JavaScript interop to trigger the browser's print functionality
        await js.InvokeVoidAsync("printTable", "printableTable");
    }


    protected override async Task OnInitializedAsync()
    {
        categories = (await CategoryService.GetCategories()).ToList();
        await js.InvokeVoidAsync("registerPrintTableFunction");
    }
}
